#circleG{
      /* width: 100%; */
  /* height: 200px; */
  display: block;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  /* right: 50%; */
  margin-left: -200px;
  margin-top: -40px;
}

.circleG{
    background-color:#FFFFFF;
    float:left;
    height:95px;
    margin-left:51px;
    width:95px;
    -moz-animation-name:bounce_circleG;
    -moz-animation-duration:1.2000000000000002s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:normal;
    -moz-border-radius:63px;
    -webkit-animation-name:bounce_circleG;
    -webkit-animation-duration:1.2000000000000002s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-border-radius:63px;
    -ms-animation-name:bounce_circleG;
    -ms-animation-duration:1.2000000000000002s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:normal;
    -ms-border-radius:63px;
    -o-animation-name:bounce_circleG;
    -o-animation-duration:1.2000000000000002s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:normal;
    -o-border-radius:63px;
    animation-name:bounce_circleG;
    animation-duration:1.2000000000000002s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    border-radius:63px;
}

#circleG_1{
    -moz-animation-delay:0.24000000000000005s;
    -webkit-animation-delay:0.24000000000000005s;
    -ms-animation-delay:0.24000000000000005s;
    -o-animation-delay:0.24000000000000005s;
    animation-delay:0.24000000000000005s;
}

#circleG_2{
    -moz-animation-delay:0.56s;
    -webkit-animation-delay:0.56s;
    -ms-animation-delay:0.56s;
    -o-animation-delay:0.56s;
    animation-delay:0.56s;
}

#circleG_3{
    -moz-animation-delay:0.72s;
    -webkit-animation-delay:0.72s;
    -ms-animation-delay:0.72s;
    -o-animation-delay:0.72s;
    animation-delay:0.72s;
}

@-moz-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#26C4E0}

    100%{
    }

}

@-webkit-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#26C4E0}

    100%{
    }

}

@-ms-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#26C4E0}

    100%{
    }

}

@-o-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#26C4E0}

    100%{
    }

}

@keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#26C4E0}

    100%{
    }

}
