/****************************************
        GLOBAL SETTINGS
****************************************/

*{
    font-family: 'Open Sans', sans-serif;
}

select 
{
    -webkit-appearance: none;
}

*:focus {
    outline: 0;
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

.align-right{
    text-align: right;
}


/****************************************
        HEADER
****************************************/
header{
    height: 160px;
    width: 100%;
    background:#FFF;
}

header #logotipo{
    width: 200px;
}
header #container-select{
    float: right;
    margin-top: 60px;
}

header #container-select{
    font-size:25px;
}

header #container-select #lenguage-selector{
    width: 100px;
    margin-left: 20px;
    border: 0;
    border-radius: 0px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
}

header #container-select i{
    display: none;
}

/* Drop down list with images */
#ddList-lenguage-selector > a,
#ddList-lenguage-selector > ul li a {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 20px;
}
#ddList-lenguage-selector img{
    max-width: 25px;
    margin-top: 10px;
}
#ddList-lenguage-selector label{
    display: inline-block;
    margin-top: 5px;
}
/* Drop down list with images on the right side */
#ddList-lenguage-selector > a > img,
#ddList-lenguage-selector > ul li a > img { 
    float: right; 
    margin-right: 0; 
    margin-left: 5px;
}

.ddListContainer > a{
    border: 0px!important;
}

.ddListContainer > ul {
    border: 0px!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}


.ddListArrow{
    right: 12px!important;
    top: 50%!important;
    margin-top: -2px!important;
    border: solid 5px transparent!important;
    border-top: solid 5px #505050!important;
}

/****************************************
        MENU HOME
****************************************/

section#menu-home{

}

section#menu-home .menu-home-fundacion, header#menu-top .menu-top-fundacion{
    background: url('../img/home/fundacio-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 300px;
    background-position: center center;
}

section#menu-home .menu-home-benefactores, header#menu-top .menu-top-benefactores{
    background: url('../img/home/benefactors-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#menu-home .menu-home-talleres, header#menu-top .menu-top-talleres{
    background: url('../img/home/tallers-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#menu-home .menu-home-pacobert, header#menu-top .menu-top-pacobert{
    background: url('../img/home/pac-obert-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#menu-home .menu-home-cultura, header#menu-top .menu-top-cultura{
    background: url('../img/home/cultura-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#menu-home .menu-home-visita, header#menu-top .menu-top-visita{
    background: url('../img/home/visita-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-home-sections{
    height: 300px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    color: #FFF;
    text-align: center;
    line-height: 150px;
    padding-right: 0px;
    padding-left: 0px;
}

.sup-row-home, .sub-row-home{
    height: 150px;
    width: 100%;
}

.sup-row-home:hover, .sub-row-home:hover, .menu-home-fundacion:hover, .menu-top-fundacion:hover{
    cursor: pointer;
    background: #FFF!important;
    color: #000!important;
    font-weight: 600;
    transition: 0.2s;
}


/****************************************
        MENU TOP
****************************************/

header#menu-top{  
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    height: 250px!important;
}

header#menu-top #logotipo{
    margin-top: 10px;
}

.menu-top-fundacion, .menu-top-benefactores, .menu-top-talleres, .menu-top-pacobert, .menu-top-cultura, .menu-top-visita{
    height: 170px!important;
    line-height: 170px!important;
    padding-right: 0px;
    padding-left: 0px;
}

header#menu-top .sup-row-home, header#menu-top .sub-row-home{
    height: 85px;
    width: 100%;
    line-height: 85px;
}

header#menu-top .ddListContainer{
    margin-top:10px;
    margin-right: 15px;
}

header#menu-top .menu-responsive i{
    color: #000;
    float: right;
    font-size: 40px;
    margin-top: 55px;
    margin-right: 45px;
}

header#menu-top .menu-responsive i:hover{
    cursor: pointer;
}

/****************************************
        PAGE AIRPLANES
****************************************/

#info-airplanes{

}

#info-airplanes .title-airplane{
    text-align: center;
    color: #616161;
    margin-bottom: 80px;
    margin-top: 100px;
}

#info-airplanes .title-airplane h1{
    font-size: 50px;
    font-weight: 100;
}

#info-airplanes .image-airplane{
    text-align: center;
}

#info-airplanes .image-airplane img{
    max-width: 95%;
    margin: 0 auto;
}

#info-airplanes .features-airplane{
    margin-top: 100px;
}

#info-airplanes .features-airplane table{
    max-width: 95%;
    margin: 0 auto;
}

#info-airplanes .history-airplane{
    margin-top: 100px;
    max-width:95%;
    margin-right: auto;
    margin-left: auto;
}

#info-airplanes .history-airplane>p{

}

/****************************************
        FOOTER
****************************************/

footer{
    min-height: 180px;
    background-color: #333333;
    margin-top: 150px;
    color: #FFF;
    border-top: 4px solid rgba(186, 186, 186, 0.25);
}

footer .row{
    margin-top: 70px;
}

footer .social-media-home i {
    float:left;
    text-align: left;
    margin-right: 10px;
    font-size: 30px;
}

footer .footer-menu p {
    float: right;
    text-align: right;
    line-height: 30px;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
}