/****************************************
        GLOBAL SETTINGS
****************************************/

*{
    font-family: 'Open Sans', sans-serif;
}

body{

}

input, textarea, button {
    background-color: transparent !important;
}

input:-webkit-autofill { 
    -webkit-box-shadow:0 0 0 500px white inset; 
}

label {
    font-weight: 300;
}

a{
    text-decoration: none!important;
    color: #FFF;
}

.active{
    color: #FFF;
    background-color: #000;
}

select 
{
    -webkit-appearance: none;
}

*:focus {
    outline: 0;
}

.form-control, .btn-default{
    border-radius: 0px;
    border-color: #000;
}

.input-group-addon{
    border-radius: 0px;
}

.no-paddings{
    padding-right: 0px;
    padding-left: 0px;
}

.align-right{
    text-align: right;
}

.align-center{
    text-align: center;
}

.title{
    margin-bottom: 120px;
    margin-top: 120px;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
}

.sub-title{
    font-weight: 300;
    line-height: 0px;
    display: inline-block;
}


textarea.form-control{
    min-height: 220px;
}

/*

.title:after{
  content: " ";
  position: relative;
  height: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
  top: 0px;
  width: 200px;
  display: block;
  margin: 0 auto;
}
*/

.pagination-bottom{
    text-align: center;
    margin-top: 30px;
}
/****************************************
        HEADER
****************************************/
header{
    height: 160px;
    width: 100%;
    background:#FFF;
}

header #logotipo{
    width: 200px;
}
header #container-select{
    float: right;
    margin-top: 60px;
}

header #container-select{
    font-size:25px;
}

header #container-select #lenguage-selector{
    width: 100px;
    margin-left: 20px;
    border: 0;
    border-radius: 0px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
}

header #container-select i{
    display: none;
}

/* Drop down list with images */
#ddList-lenguage-selector > a,
#ddList-lenguage-selector > ul li a {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 20px;
}
#ddList-lenguage-selector img{
    max-width: 25px;
    margin-top: 10px;
}
#ddList-lenguage-selector label{
    display: inline-block;
    margin-top: 5px;
}
/* Drop down list with images on the right side */
#ddList-lenguage-selector > a > img,
#ddList-lenguage-selector > ul li a > img { 
    float: right; 
    margin-right: 0; 
    margin-left: 5px;
}

.ddListContainer > a{
    border: 0px!important;
}

.ddListContainer > ul {
    border: 0px!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}


.ddListArrow{
    right: 12px!important;
    top: 50%!important;
    margin-top: -2px!important;
    border: solid 5px transparent!important;
    border-top: solid 5px #505050!important;
}

/****************************************
        MENU HOME
****************************************/

section#menu-home{
 margin-bottom: 60px;
}

section#menu-home .menu-home-fundacion, header#menu-top .menu-top-fundacion, #menu-full-responsive .menu-responsive-fundacio{
    background: url('../img/home/fundacio-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 300px;
    background-position: center center;
}

section#menu-home .menu-home-benefactores, header#menu-top .menu-top-benefactores, #menu-full-responsive .menu-responsive-benefactores{
    background: url('../img/home/benefactors-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#menu-home .menu-home-talleres, header#menu-top .menu-top-talleres, #menu-full-responsive .menu-responsive-talleres{
    background: url('../img/home/tallers-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#menu-home .menu-home-pacobert, header#menu-top .menu-top-pacobert, #menu-full-responsive .menu-responsive-pacobert{
    background: url('../img/home/pac-obert-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#menu-home .menu-home-cultura, header#menu-top .menu-top-cultura, #menu-full-responsive .menu-responsive-cultura{
    background: url('../img/home/cultura-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#menu-home .menu-home-visita, header#menu-top .menu-top-visita, #menu-full-responsive .menu-responsive-visita{
    background: url('../img/home/visita-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-home-sections{
    height: 300px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    color: #FFF;
    text-align: center;
    line-height: 150px;
    padding-right: 0px;
    padding-left: 0px;
}

.sup-row-home, .sub-row-home{
    height: 150px;
    width: 100%;
}

.sup-row-home:hover, .sub-row-home:hover, .menu-home-fundacion:hover, .menu-top-fundacion:hover{
    cursor: pointer;
    background: #FFF!important;
    color: #000!important;
    font-weight: 600;
    transition: 0.2s;
}


/****************************************
        MENU TOP
****************************************/

header#menu-top{  
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    height: 170px!important;
}

header#menu-top #logotipo{
    margin-top: 10px;
}

header#menu-top #logotipo {
    width: 100%;
    max-width: 200px;
}

.menu-top-fundacion, .menu-top-benefactores, .menu-top-talleres, .menu-top-pacobert, .menu-top-cultura, .menu-top-visita{
    height: 170px!important;
    line-height: 170px!important;
    padding-right: 0px;
    padding-left: 0px;
}

header#menu-top .sup-row-home, header#menu-top .sub-row-home{
    height: 85px;
    width: 100%;
    line-height: 85px;
}

header#menu-top .ddListContainer{
    margin-top:10px;
    margin-right: 15px;
}

header#menu-top .menu-responsive .icon-menu-top{
    color: #000;
    float: right;
    font-size: 45px;
    -webkit-text-stroke: 2px white;
    margin-top: 55px;
    margin-right: 45px;
}

header#menu-top .menu-responsive .icon-menu-top:hover{
    cursor: pointer;
    color: #4C4C4C;
}

/****************************************
        MENU TOP RESPONSIVE
****************************************/

#menu-full-responsive{
    position: fixed;
    height: 100%;
    background: #FFF;
    width: 100%;
    right: 0px;
    margin-right: -100%;
    z-index: 9999999;
    top: 0px;
    color: #FFF;
    overflow-y: auto;
}

#menu-full-responsive .fa-times{
    font-size: 50px;
    -webkit-text-stroke: 6px white;
    position: relative;
    top: 15px;
    cursor: pointer;
    transition-duration: 1s;
    color: #000;
}

#menu-full-responsive .container-fluid{
    margin-top: 30px;
}

#menu-full-responsive .col-xs-12{
    line-height: 90px;
    height: auto;
    padding-right: 0px;
    padding-left: 0px;
}

#menu-full-responsive .menu-responsive-fundacio,
#menu-full-responsive .col-xs-6{
    border-right: solid 3px #FFF;
    border-top: solid 2.5px #FFF;
    border-left: solid 3px #FFF;
    border-bottom: solid 2.5px #FFF;
}

#menu-full-responsive .menu-responsive-fundacio:hover,
#menu-full-responsive .col-xs-6:hover{
    cursor: pointer;
    background: #FFF!important;
    color: #000!important;
    font-weight: 600;
    transition: 0.2s;   
}

/****************************************
        LIST AIRPLANES
****************************************/

#list-airplanes{
    color: #616161;
}

#list-airplanes .title-airplane{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 190px;
}

#list-airplanes .title-airplane h1{
    font-size: 50px;
    font-weight: 100;
}

#list-airplanes .list-items{
    z-index: 2;
    color: #6F6F6F;
    background-color: #F4F4F4;
    border-color: transparent;
    border-radius: 0px;
    text-align:center;
    border: 10px solid #FFF;
}

#list-airplanes img{
    width: 100%;
    min-width: 300px;
    padding: 15px 0px;
}

#list-airplanes p{
    padding: 15px 0px;
    font-size: 30px;
}

#list-airplanes .search{
    margin: 0 auto;
    margin-bottom: 75px;
}

#list-airplanes .effect-top{
    transition: 0.3s;
}

/****************************************
        PAGE AIRPLANES
****************************************/

#info-airplanes{
    color: #616161;

}

#info-airplanes .title-airplane{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 190px;
}

#info-airplanes .title-airplane h1{
    font-size: 50px;
    font-weight: 100;
}

#info-airplanes .image-airplane{
    text-align: center;
}

#info-airplanes .image-airplane img{
    margin: 0 auto;
}

#info-airplanes .features-airplane{
    margin-top: 100px;
}

#info-airplanes .features-airplane table{
    margin: 0 auto;
}

#info-airplanes .history-airplane{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}



/****************************************
        BACK PAGES
****************************************/


#back-pages span{
    background: #7C705F;
    padding: 15px 30px;
    color: #FFF;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    position: fixed;
    top: 50%;
    left: 0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    opacity: 1;
}

#back-pages span:hover{
    background: #736758;
    opacity: 1!important;
    cursor: pointer;
}

.sticky-button{
    position: fixed!important;
    top: 0!important;
}

/****************************************
        BLOG
****************************************/

#blog{
    margin-bottom: 150px;
}

#blog .single-post{
    margin-bottom: 20px;
    font-weight: 300;

}

#blog .single-post img{

}


#blog .single-post .info-single-post{
    background-color: rgba(244, 244, 244, 0.41);
    min-height: 250px;
    padding: 15px 45px;
    box-shadow: 8px 11px 4px -8px #E4E4E4;
}

#blog .single-post .info-single-post button{
    border-radius: 0px;
    padding: 12px 65px;
    margin-top: 15px;
    font-weight: 300;
}

#blog .sub-title h3{
    margin-left: 10px;
}

/****************************************
        TAGS RIGHT
****************************************/

.tags-right{
    text-align: center;
    border: 1px solid rgba(232, 232, 232, 0.45);
    text-transform: uppercase;
    background-color: #FAFAFA;
    padding-right: 0px;
    padding-left: 0px;
}

.tags-right h3{
    margin-bottom: 40px;
}

.tags-right ul{
    list-style: none;
    padding:0;
    margin:0;
    margin-bottom: 25px;
}

.tags-right ul li{
    padding: 15px 10px;
}

.tags-right ul li:hover{
    background-color: #F2F2F2;
}

.tags-right ul>li>a{
    padding:10px;
    font-weight: 300;
    text-decoration: none;
    color: #000;
}

/****************************************
        ARTICLE BLOG
****************************************/

#article-blog .title-article{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 150px;
}

#article-blog h1{
    font-size: 50px;
    font-weight: 100;
}

#article-blog .content-article{
    font-weight: 300;
}

#article-blog .autor-date{
    margin-bottom: 60px;
}


/****************************************
        BLOG - COMENTARIOS
****************************************/

#article-blog .area-comments{
    margin-top: 80px;
    margin-bottom: 80px;
    color: #000;
}

#article-blog .area-comments .row-comments{
    margin-bottom: 80px;
}


#article-blog .area-comments .content-comment{
    margin-bottom: 20px;
}


#article-blog .area-comments .content-comment .name-user{
    font-weight: 700;
    padding: 12px 40px;  
    margin: 0px;
}

#article-blog .area-comments .content-comment .comment{
    min-height: 130px;
    padding: 30px;
    font-weight: 300;
}

#article-blog .area-comments .content-comment .bg-name-user{
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-right: none;
    border-top: none;

}

#article-blog .area-comments .content-comment .bg-comment{
    background-color: rgba(163, 156, 130, 0.06);
    box-shadow: 8px 11px 4px -8px #E4E4E4;
}

#article-blog .area-comments .titles{
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: 300;
    padding: 0px 15px;
}


#article-blog .content-article{
    margin-bottom: 100px;
}

#article-blog .content-article img{
    padding: 20px;
}

#article-blog .button-form{
    border-radius: 0px;
}

#article-blog .area-comments .form-comment{
    margin-top: 80px;
}




/****************************************
        BLOG - SUBCOMENTARIOS
***************************************

#article-blog .area-comments .content-comment .sub-coments-box{
  padding: 30px;
}

#article-blog .area-comments .content-comment .sub-coments-box h3{
  font-weight: 500;
  margin-bottom:40px;
}

#article-blog .area-comments .content-comment .sub-coments-box .bg-subcoment-name{
 background-color: #EFEFEF;   
}

#article-blog .area-comments .content-comment .sub-coment{
  background: rgba(249, 248, 247, 0.53);
  padding: 30px;
  float: right;
  margin-top: 5px;
}

*/


/****************************************
        HISTORIA
****************************************/

#historia{
    margin-bottom: 100px;
}

#historia .content{
    text-align: center;
    font-weight: 300;
    margin-top: 30px;
}

#historia .content i{
    font-size: 50px;
    vertical-align: -5px;
    display: inline-block;
}

#historia .content h2{
    font-size: 30px;
    font-weight: 300;
    display: inline;
    margin-left: 20px;
}



/****************************************
        CONTACTA
****************************************/

#contacta{
    height: auto;
}

#contacta .info-fpac{
    font-weight: 300;
    font-size: 18px;
    margin-top: 20px;
}

#contacta .info-fpac ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#contacta .info-fpac ul li:first-child{
    font-weight: 400;
    line-height: 10px;
    font-size: 22px;
}

#contacta .content-map{
    margin-top: 80px;
    padding: 0px;
}

/****************************************
        FUNDACIÓN
****************************************/

#fundacion{
    margin-bottom: 80px;
}


#fundacion p{
    font-weight: 300;
    font-size: 17px;
}

#fundacion h2{
    font-weight: 300;
}

#fundacion .img-fundacion{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
}

#fundacion .separador{
    margin-top: 50px;
}


/****************************************
        EVENTOS
****************************************/


#eventos{
    margin-bottom: 80px;
}

#eventos h3{
    font-weight: 400;
}

#eventos p{
    font-weight: 300;
}

#eventos .single-event{
    box-shadow: 8px 11px 4px -8px #E4E4E4;
    padding: 35px;
}


#eventos .single-event .date{
    text-align: center;
    margin-top: 30px; 
}

#eventos .single-event .date p{
    font-weight: 400;
}

#eventos .single-event .fa-calendar-o{
    font-size: 60px;
    margin-bottom: 10px;
}


/****************************************
        SOCIOS
****************************************/

#voluntarios{
    margin-bottom: 80px;
}

#voluntarios h3{
    font-weight: 300;
}

#voluntarios form{
    margin-top: 30px;
}

#voluntarios .text-informative{
    font-size: 13px;
    font-weight: 300;
}


#voluntarios .margin-top-elements{
margin-top: 25px;
}

#voluntarios .margin-checkbox{
    margin-top: 5px;
}

#voluntarios .box-activamente, #voluntarios .box-actividades-remotas, #voluntarios .box-actividades-presenciales {
    display: none;
}


/****************************************
        BENEFACTORES
****************************************/

#benefactores{
        margin-bottom: 80px;
}

#benefactores h3{
    font-weight: 300;
}


/****************************************
        VISITAS
****************************************/

#visitas{
    margin-bottom: 80px;
}

#visita form{
    margin: 0 auto;
}


/****************************************
        FOOTER
****************************************/

footer{
    min-height: 180px;
    background-color: #333333;
    color: #FFF;
    border-top: 4px solid rgba(186, 186, 186, 0.25);
}

footer .row{
    margin-top: 70px;
}

footer .social-media-home i {
    float:left;
    text-align: left;
    margin-right: 10px;
    font-size: 30px;
}

footer .footer-menu p {
    float: right;
    text-align: right;
    line-height: 30px;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
}


