/****************************************
        GLOBAL SETTINGS
****************************************/

*{
    font-family: 'Open Sans', sans-serif;
}

select 
{
    -webkit-appearance: none;
}

*:focus {
    outline: 0;
}

/****************************************
        HEADER
****************************************/
header{
    height: 160px;
    width: 100%;
    background:#FFF;
}

header #logotipo{
    width: 200px;
}
header #container-select{
    float: right;
    margin-top: 60px;
}

header #container-select{
    font-size:25px;
}

header #container-select #lenguage-selector{
    width: 100px;
    margin-left: 20px;
    border: 0;

    border-radius: 0px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
}

header #container-select i{
    display: none;
}

/* Drop down list with images */
#ddList-lenguage-selector > a,
#ddList-lenguage-selector > ul li a {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 20px;
}
#ddList-lenguage-selector img{
    max-width: 25px;
    margin-top: 10px;
}
#ddList-lenguage-selector label{
    display: inline-block;
    margin-top: 5px;
}
/* Drop down list with images on the right side */
#ddList-lenguage-selector > a > img,
#ddList-lenguage-selector > ul li a > img { 
    float: right; 
    margin-right: 0; 
    margin-left: 5px;
}

.ddListContainer > a{
    border: 0px!important;
}

.ddListContainer > ul {
    border: 0px!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}


.ddListArrow{
  right: 12px!important;
  top: 50%!important;
  margin-top: -2px!important;
  border: solid 5px transparent!important;
  border-top: solid 5px #505050!important;
}

/****************************************
        MENU HOME
****************************************/

section#menu-home{

}

section#menu-home .menu-home-fundacion{
    background: url('../img/home/fundacio-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 300px;
    background-position: center center;
}

section#menu-home .menu-home-benefactores{
    background: url('../img/home/benefactors-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#menu-home .menu-home-talleres{
    background: url('../img/home/tallers-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#menu-home .menu-home-pacobert{
    background: url('../img/home/pac-obert-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#menu-home .menu-home-cultura{
    background: url('../img/home/cultura-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#menu-home .menu-home-visita{
    background: url('../img/home/visita-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-home-sections{
    height: 300px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    color: #FFF;
    text-align: center;
    line-height: 150px;
    padding-right: 0px;
    padding-left: 0px;
}

.sup-row-home, .sub-row-home{
    height: 150px;
    width: 100%;
}

.sup-row-home:hover, .sub-row-home:hover, .menu-home-fundacion:hover{
    cursor: pointer;
    background: #FFF!important;
    color: #000!important;
    font-weight: 600;
    transition: 0.2s;
}


/****************************************
        FOOTER
****************************************/

footer{
    min-height: 180px;
    background-color: #333333;
    margin-top: 150px;
    color: #FFF;
    border-top: 4px solid rgba(186, 186, 186, 0.25);
}

footer .row{
    margin-top: 70px;
}

footer .social-media-home i {
    float:left;
    text-align: left;
    margin-right: 10px;
    font-size: 30px;
}

footer .footer-menu p {
    float: right;
    text-align: right;
    line-height: 30px;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
}