
@media(max-width:767px){

    /****************************************
            FOOTER
    ****************************************/
    footer .row{
        margin-top: 40px;
    }

    footer p {
        padding-top: 30px;
    }

    footer .social-media-home i {
        float:none;
    }

    footer .social-media-home{
        text-align: center;
    }

    footer .footer-menu p {
        float:none;
        text-align: center;
    }
    .navbar-brand img{
        width: 180px!important;
    }
}


@media(min-width:768px){

}




@media(min-width:992px){}







@media(min-width:1200px){}