//MEDIA QUERIE PERSONALIZADAS


@media(max-width:767px){

    /****************************************
            FOOTER
    ****************************************/
    footer .row{
        margin-top: 40px;
    }

    footer p {
        padding-top: 30px;
    }

    footer .social-media-home i {
        float:none;
    }

    footer .social-media-home{
        text-align: center;
    }

    footer .footer-menu p {
        float:none;
        text-align: center;
    }

}


@media(max-width:940px){

    /****************************************
        BUTTON BACK
     ****************************************/

    #back-pages span{
        position: absolute;
        top: 220px;
        opacity: 1!important;
    }

}

@media(min-width:940px){
        #back-pages span{
        position: fixed;
        top: 50%;
        opacity: 1;
    }
}


/****************************************
        MENU TOP
****************************************/


@media(max-width:1200px){



}